<form
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap="5px"
  [formGroup]="authentication"
  style="padding-top: 100px"
  (ngSubmit)="onSubmit()"
>
  <div style="background: none">
    <img mat-card-avatar class="mat-card-avatar-big" />
  </div>

  <mat-form-field fxFlex style="width: 400px" appearance="outline">
    <input
      matInput
      placeholder="{{ 'username' | translate }}"
      formControlName="userNameOrEmailAddress"
    />
    <mat-hint *ngIf="!username && isSubmited" style="color: red"
      >Username is Required</mat-hint
    >
  </mat-form-field>

  <mat-form-field
    fxFlex
    class="example-full-width"
    appearance="outline"
    style="width: 400px"
  >
    <input
      matInput
      placeholder="{{ 'password' | translate }}"
      formControlName="password"
      type="password"
    />
    <mat-hint *ngIf="!password && isSubmited" style="color: red"
      >Password is Required</mat-hint
    >
  </mat-form-field>
  <div fxFlex class="example-full-width" style="width: 400px">
    <button
      mat-stroked-button
      color="primary"
      class="btn-block"
      style="width: 400px; padding: 6px"
      type="submit"
    >
      {{ "signin" | translate }}
    </button>
  </div>
</form>
