<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px" style="padding:5px 3px" *ngIf="items">
    <div fxFlex="25%">
        <mat-toolbar color="primary" class="Edges">
            {{items.title|translate}}
        </mat-toolbar>
        <div *ngFor="let item of items.data">

            <mat-toolbar>
                {{items.title|translate}}
            </mat-toolbar>
            <mat-divider style="backgroundColor: rgba(238, 236, 236, 0.137)">
            </mat-divider>
        </div>
    </div>
    <div fxFlex="25%">
        <mat-toolbar color="primary" class="Edges">
            {{items.title|translate}}
        </mat-toolbar>
        <div *ngFor="let item of items.data">

            <mat-toolbar>
                {{items.title|translate}}
            </mat-toolbar>
            <mat-divider style="backgroundColor: rgba(238, 236, 236, 0.137)">
            </mat-divider>
        </div>
    </div>
    <div fxFlex="25%">
        <mat-toolbar color="primary" class="Edges">
            {{items.title|translate}}
        </mat-toolbar>
        <div *ngFor="let item of items.data">

            <mat-toolbar>
                {{items.title|translate}}
            </mat-toolbar>
            <mat-divider style="backgroundColor: rgba(238, 236, 236, 0.137)">
            </mat-divider>
        </div>
    </div>
    <div fxFlex="25%">
        <mat-toolbar color="primary" class="Edges">
            {{items.title|translate}}
        </mat-toolbar>
        <div *ngFor="let item of items.data">

            <mat-toolbar>
                {{items.title|translate}}
            </mat-toolbar>
            <mat-divider style="backgroundColor: rgba(238, 236, 236, 0.137)">
            </mat-divider>
        </div>
    </div>
    <div fxFlex="25%">
        <mat-toolbar color="primary" class="Edges">
            {{items.title|translate}}
        </mat-toolbar>
        <div *ngFor="let item of items.data">

            <mat-toolbar>
                {{items.title|translate}}
            </mat-toolbar>
            <mat-divider style="backgroundColor: rgba(238, 236, 236, 0.137)">
            </mat-divider>
        </div>
    </div>
</div>