.mat-card-avatar-big {
    background-image: url("../../assets/images/user.png");
    background-size: cover;
    border: 4px solid white;
    height: 80px;
    width: 80px;
    margin: 10px;
    background-color: white;
  }
  